GITHUB_TOKEN='example-token'
GITHUB_REPO_OWNER='example-owner'
GITHUB_REPO='example-repo'
GITHUB_DEV_TRACKED_BRANCH='staging'
GITHUB_DEFAULT_TRACKED_BRANCH='production'
GITHUB_FETCHED_COMMITS_PER_PAGE=100

#Default port is 5000
PORT=

DEPLOYMENT=DEV

# In minutes
HEALTH_CHECK_LOAD_INTERVAL=5